<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Posts</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Tracks</strong>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					Temperature: <div th:text="${weather.weather.temp}"></div>
				</div>
				<div class="col-md-3">
					Description: <div th:text="${weather.weather.description}"></div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Preview</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="track : ${weather.tracks}">
							<td th:text="${track.name}"></td>
							<td th:text="${track.preview_url}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>